<!DOCTYPE html>
<html lang="es">
<%- include('./plantilla/cabecera', {tituloWeb: 'CarPop - Perfil de usuario'}) %>
<body>

    <header><%- include('./plantilla/nav', {usuario, autorizado, usuarioAutentificado}); %></header>

    <div class="p-2 container py-5 mt-2">
        <div class="row pt-5">
            <!-- Navegación perfil -->
            <% if (usuario._id.toString() == usuarioAutentificado._id.toString()) { %>
                <%- include('./plantilla/perfil_nav') %> 
            <% } %>
            <!-- BARRA LATERAL 
            <div class="col-1 text-center">
                <div class="vr h-100 bg-info"></div>
            </div>  -->
            <!-- Datos perfil -->
            <div class="col-12 col-lg-9 p-4 mb-2 px-md-5">
                <div class="row p-1 px-5">
                    <div class="col d-flex flex-row justify-content-center">
                        <div class="h3">Modificar datos</div>
                    </div>
                </div>
                <div class="row p-1 mt-2 px-md-5">
                    <div class="col p-md-4">
                        <form action="/perfiles/<%=usuario._id%>/datos" method="POST" class="px-3 needs-validation border" novalidate>
                            <div class="row justify-content-center">
                                <div class="col text-center">
                                    <p></p>
                                </div>
                            </div>
                            <fieldset class="p-2">
                                <legend class="fs-5">Datos personales y cuenta</legend>
                                <div class="row g-2 justify-content-start p-2">
                                    <div class="col-12 col-md-8 align-self-center text-dark text-center">
                                        <div class="form-floating">
                                            <input type="text" class="form-control bg-light" name="nombre" id="in-nombre" placeholder="" required value="<%=usuario.nombre%>" disabled>
                                            <label for="in-nombre">Nombre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-2 justify-content-end p-2">
                                    <div class="col-12 col-md-8 align-self-center text-dark text-center">
                                        <div class="form-floating">
                                            <input type="text" class="form-control bg-light" name="apellido" id="in-apellido" placeholder="" required value="<%=usuario.apellido%>" disabled>
                                            <label for="in-apellido">Apellido</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-2 justify-content-start p-2">
                                    <div class="col-12 col-md-8 align-self-center text-dark text-center">
                                        <div class="form-floating">
                                            <input type="text" class="form-control bg-light" name="correo" id="in-correo" placeholder="" required value="<%=usuario.correo%>" disabled>
                                            <label for="in-correo">Correo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-2 justify-content-end p-2">
                                    <div class="col-12 col-md-8 align-self-center text-dark text-center">
                                        <div class="form-floating">
                                            <input type="text" class="form-control bg-light" name="telefono" id="in-telefono" placeholder="" required value="<%=usuario.telefono%>" disabled>
                                            <label for="in-telefono">Teléfono</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-2 justify-content-start p-2">
                                    <div class="col-12 col-md-8 align-self-center text-dark text-center">
                                        <div class="form-floating">
                                            <input type="text" class="form-control bg-light" name="direccion" id="in-direccion" placeholder="" required value="<%=usuario.direccion%>" disabled>
                                            <label for="in-direccion">Dirección</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <% if (usuario._id.toString() == usuarioAutentificado._id.toString()) { %>
                                <fieldset class="p-2 mt-3">
                                    <div class="row justify-content-center p-3" id="row-editar1">
                                        <div class="col-12 col-md-5 text-center align-self-center">
                                            <button class="btn btn-primary btn-block w-75 p-3" id="datos-editar">
                                                Modificar datos
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center p-3 d-none" id="row-editar2">
                                        <div class="col-12 col-md-5 text-center text-md-end align-self-center" id="datos-descartar">
                                            <button class="btn btn-danger btn-block w-75 p-3 mb-3 mb-md-0">
                                                Descartar cambios
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-5 text-center text-md-start align-self-center" id="datos-confirmar">
                                            <button type="submit" class="btn btn-success btn-block w-75 p-3">
                                                Confirmar cambios
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            <% } %>
                        </form>
                        <!--  -->
                        <% if (usuario._id.toString() == usuarioAutentificado._id.toString()) { %>
                        <form action="/perfiles/<%=usuario._id%>/contrasena" method="POST" class="mt-4 px-3 needs-validation border" novalidate>
                            <div class="row justify-content-center">
                                <div class="col text-center">
                                    <p></p>
                                </div>
                            </div>
                            <fieldset class="p-2">
                                <legend class="fs-5">Contraseña</legend>
                                <div class="row g-2 justify-content-center p-2">
                                    <div class="col-12 col-md-8 align-self-center text-dark text-center">
                                        <div class="form-floating">
                                            <input type="password" class="form-control bg-light" name="contrasena" id="in-contrasena" placeholder="" required value="" disabled>
                                            <label for="in-contrasena">Contraseña</label>
                                            <div id="in-contrasena" class="form-text">Introduce la nueva contraseña</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="p-2 mt-3">
                                <div class="row justify-content-center p-3" id="row-editar1">
                                    <div class="col-12 col-md-5 text-center align-self-center" id="div-editar">
                                        <button class="btn btn-primary btn-block w-75 p-3" id="contrasena-editar">
                                            Modificar contraseña
                                        </button>
                                    </div>
                                    <div class="col-12 col-md-5 text-center align-self-center d-none" id="div-confirmar">
                                        <button type="submit" class="btn btn-success btn-block w-75 p-3">
                                            Confirmar cambios
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer><%- include('./plantilla/pie'); %></footer>

    <script src="/script/perfil_datos.js"></script>
    <script src="/script/ir_arriba.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</body>
</html>