<div class="col-12 col-lg-3 p-4 mt-0 mt-md-4">
    <div class="row pb-2 pt-3 bg-secondary text-light">
        <div class="col text-center text-md-start"><div class="h3 text-center fw-bold"><%=usuario.nombre+' '+usuario.apellido%></div></div>
    </div>
    <div class="row bg-primary">
        <div class="col d-flex flex-column">
            <a href="/perfiles/<%=usuario._id%>/datos" class="link-light p-3 my-3 fw-bold">
                <img src="/img/google/description2.svg">
                Datos personales
            </a>
            <a href="/perfiles/<%=usuario._id%>/anuncios" class="link-light p-3 mb-3 fw-bold">
                <img src="/img/google/description2.svg">
                Mis anuncios
            </a>
            <a href="/perfiles/<%=usuario._id%>/favoritos" class="link-light p-3 mb-3 fw-bold">
                <img src="/img/google/fav_light.svg">
                Favoritos
            </a>
            <a href="/perfiles/<%=usuario._id%>/reservas" class="link-light p-3 mb-3 fw-bold">
                <img src="/img/google/description2.svg">
                Reservas
            </a>
        </div>
    </div>
</div>